.text-muted {
    --bs-text-opacity: 1;
    color: #ffffff !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}

.navbar-dark input[type="search"] {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #e9ecef;
}

.perfil{
  border-radius: 50%;
  width: 200px;
  margin-right: 20px;
}